<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.example.deeptesting" platformBuildVersionCode="12" platformBuildVersionName="1.1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.oneplus.account.READ_ACCOUNT_INFO"/>
    <application android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:debuggable="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:resizeableActivity="false" android:screenOrientation="portrait" android:supportsRtl="true" android:theme="@style/AppNoTitleTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name="com.example.deeptesting.activity.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/warning_title" android:name="com.example.deeptesting.activity.WarningActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/apply_title" android:name="com.example.deeptesting.activity.ApplyActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:label="@string/status_title" android:name="com.example.deeptesting.activity.StatusActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.example.deeptesting.activity.FullPageStatementActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.example.deeptesting.activity.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.example.deeptesting.activity.OpenSourceNoticeActivity" android:screenOrientation="portrait"/>
        <service android:exported="false" android:name="com.example.deeptesting.service.RequestService"/>
        <provider android:authorities="com.example.deeptesting.UCAccountSDKInitProvider" android:enabled="true" android:exported="false" android:multiprocess="true" android:name="com.heytap.usercenter.accountsdk.utils.UCAccountSDKInitProvider"/>
        <receiver android:exported="false" android:name="com.heytap.usercenter.accountsdk.utils.app.UserCenterOperateReceiver">
            <intent-filter>
                <action android:name="com.usercenter.action.receiver.SUPPORT_LOGIN"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.heytap.opnearmesdk.receiver.OPAccountReceiver">
            <intent-filter>
                <action android:name="com.onplus.account.oplus.login.broadcast"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.heytap.support:api-adapter" android:value="11.6.1"/>
        <provider android:authorities="com.example.deeptesting.tingle" android:directBootAware="true" android:exported="false" android:multiprocess="true" android:name="com.heytap.tingle.ipc.internal.TingleProvider"/>
        <provider android:authorities="com.example.deeptesting.epona" android:directBootAware="true" android:exported="true" android:multiprocess="true" android:name="com.heytap.epona.internal.EponaProvider" android:permission="com.oppo.permission.safe.SECURITY"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
    </application>
</manifest>